<!doctype html>
<html lang="en">

<head>
  <title>Registrar Reserva</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/modal.css">
  <link rel="stylesheet" href="../css/reserva.css">
</head>

<body>
  <div class="encabezado">
    <h2 class="text-center encabezado-letra tuclase text-color">Reservas</h2>
  </div>

  <div class="container targetas">
    <div class="contenedor-targetas">
      <div class="img-reserva1"></div>
      <div>
        <h3>Piscinas Spa</h3>
      </div>
      <div>
        <p>Experimenta sensaciones de relajación y descanso y aprovecha al máximo los beneficios que proporcionan las
          aguas termales en el exclusivo circuito de piscinas con chorros de agua, hidromasajes con agua y burbujas de
          aire. </p>
          <br><br>
          <b>Horarios:</b><br>
          De 10H00 a 18H00
          <br><br>
          <b>Precios de entrada:</b><br>
          $5 por persona
      </div>
    </div>
    <div class="contenedor-targetas">
      <div class="img-reserva2"></div>
      <div>
        <h3>Bar Chacana</h3>
      </div>
      <div>
        <p>Dentro del Hotel contamos con un lugar muy especial para que puedas vivir un agradable momento, experimentado
          la calidez de nuestro personal mientras disfrutan una bebida a tu elección.<br>
          El Bar Chacana cuenta con una infraestructura rústica, dentro de la cual podemos encontrar, una hermosa
          chimenea, televisión por cable y una barra con diferentes tipos de licores, para vivir un momento de
          relajación en excelente compañía.
          <br><br>
          <b>Horarios:</b><br>
          De 07H00 a 23H00
        </p>
      </div>
    </div>
    <div class="contenedor-targetas">
      <div class="img-reserva3"></div>
      <div>
        <h3>Naturaleza y Aventura</h3>
      </div>
      <div>
        <p>Descubre tu espíritu de aventura, en las caminatas y paseos por el fascinante páramo de los Andes.
          <br><br>
          Intérnate en el hábitat del cóndor, puma, osos y otras especies propias de la zona.
          <br><br>
          <b>Horarios:</b><br>
          De 10H00 a 18H00
          <br><br>
          <b>Precios de entrada:</b><br>
          $10 por persona
        </p>
      </div>
    </div>
  </div>


<div class="reserva-img">
  <div class="container containerx">
    <h2 class="text-center">Realiza tu reservación</h2>
    <form class="row">

      <div class="form-group col-6">
        <h6 class="form-label mt-4">Lugar turistico</h6>
        <select name="reserva" class="form-select">
          <option value="">Seleccione el lugar</option>
          <option value="Termas">Termas</option>
          <option value="Sendero_eucalipto">Sendero del Eucalipto</option>
          <option value="Bar_Chacana">Bar Chacana</option>
          <option value="Club_Termal">Club Termal</option>
        </select>
        <small class="text-danger error-reserva"></small>
      </div>
      <div class="form-group col-6">
        <h6 class="form-label mt-4">Hospedaje</h6>
        <select name="hospedaje" class="form-select">
          <option value="">Seleccione el tipo de hospedaje</option>
        </select>
        <small class="text-danger error-hospedaje"></small>
      </div>
      <div class="form-group col-6">
        <h6 class="form-label mt-4">Cliente</h6>
        <select name="cliente" class="form-select">
          <option value="">Seleccione cliente</option>
        </select>
        <small class="text-danger error-cliente"></small>
      </div>
      <div class="form-group col-6">
        <h6 class="form-label mt-4">Numero de Personas<h6>
            <select name="limit" class="form-select">
              <option value="">Seleccione el numero de personas</option>
            </select>
            <small class="text-danger error-limit"></small>
      </div>
      <div class="form-group col-6 mt-4">
        <button type="submit" class="btn btn-primary col-12">Guardar</button>
      </div>
    </form>

    <div class="container overflow-auto borde-tabla">
      <h2 class="col-12 text-center mt-3 mb-2">Reservaciones</h2>
      <hr>
      <table class="table table-hover">
        <thead>
          <th class="text-center">#</th>
          <th class="text-center">Lugar</th>
          <th class="text-center">Tipo_Hospedaje</th>
          <th class="text-center">Cliente</th>
          <th class="text-center"># Personas</th>
          <th class="text-center">Adultos</th>
          <th></th>
        </thead>
        <tbody>
          <tr>
            <td class="text-center" colspan="6">No hay reservaciones</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-form hidden">
    <form class="custom-row">
      <input type="hidden" value="" name="id_reserva">
      <input type="hidden" value="" name="students">
      <div class="close-btn">
        <span>+</span>
      </div>
      <h2 class="title-update">Modificar reserva</h2>
      <div class="form-group col-6 custom-input">
        <h6 class="form-label">Lugar Turistico</h6>
        <select name="reserva_update" class="form-select">
          <option value="">Seleccione el lugar</option>
          <option value="Termas">Termas</option>
          <option value="Sendero_eucalipto">Sendero de Eucalipto</option>
          <option value="Bar_Chacana">Bar Chacana</option>
          <option value="Club_Termal">Club Termal</option>

          <!--     
          <option value="Segundo">Segundo</option>
          <option value="">Seleccione el aula</option>-->
        </select>
        <small class="text-danger error-reserva-update"></small>
      </div>
      <div class="form-group col-6 custom-input">
        <h6 class="form-label mt-4">Hospedaje</h6>
        <select name="hospedaje_update" class="form-select">
          <option value="">Seleccione el tipo de hospedaje</option>
        </select>
        <small class="text-danger error-hospedaje-update"></small>
      </div>
      <div class="form-group col-6 custom-input">
        <h6 class="form-label mt-4">Cliente</h6>
        <select name="cliente_update" class="form-select">
          <option value="">Seleccione el cliente</option>
        </select>
        <small class="text-danger error-cliente-update"></small>
      </div>
      <div class="form-group col-6 custom-input">
        <h6 class="form-label mt-4">Numero de personas<h6>
            <select name="limit_update" class="form-select">
              <option value="">Seleccione el numero de personas</option>
            </select>
            <small class="text-danger error-limit-update"></small>
      </div>
      <div class="form-group col-6 mt-4">
        <button type="submit" class="btn btn-primary col-12">Guardar</button>
      </div>
    </form>
  </div>
</div>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
    integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
    crossorigin="anonymous"></script>
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>
  <script src="../js/reserva.js" type="module"></script>
</body>

</html>